<footer class="mt-auto text-center">
    <p class="mt-1 mb-0">Copyright &copy;
        <script>document.write(new Date().getFullYear())</script> - <a class="txt-light" href="http://dlongo.dev">Daniele
            Longo</a> <span class="fs-1 ml-3">
            <a class="txt-light" href="https://github.com/dlongodev/my-sugr-pet"><i class="fab fa-github-square"></i></a> <a class="txt-light" href="https://twitter.com/dlongodev"><i class="fab fa-twitter-square"></i></a>
            <a class="txt-light" href="https://linkedin/in/danielealongo"><i class="fab fa-linkedin"></i></a>
        </span>
    </p>
</footer>