<nav class="navbar">
    <div>
        <a href="/pet" class="navbar-link"><i class="fa-solid fa-paw"></i>
            My Pets</a>
    </div>
    <div>
        <a href="/pet" class="btn btn-sm btn-outline-light"><i class="fas fa-chevron-circle-left"></i></a>
    </div>
    <!-- <div>
        <a href="/pet/new" class="navbar-link"><i class="fa-solid fa-syringe"></i>
            New Shot</a>
    </div>
    <div>
        <a href="/pet/new" class="navbar-link">
            <i class="fa-solid fa-clock-rotate-left"></i>
            History</a>
    </div> -->
    <div>
        <a class="navbar-link" href="/logout"><i class="fas fa-sign-out-alt"></i>
            Logout</a>
    </div>
</nav>