<section class="container">

<div class="row text-center app-height justify-content-md-center align-items-center bg-light">
    <div class="col">
        <h1><span class="font-weight-bold">MySugr</span>Pet</h1>
        <h3>Pet Insulin Tracker</h3>
        <div class="button"><a href="session/login">Login</a></div>
        <div class="button"><a href="session/register">Register</a></div>
    </div>
    </div>
    </section>
