<main class="app-main">
    <div class="content content-mt">
        <div class="logo shadow"></div>
        <h1 class="text-white"><span class="font-weight-bold">MySugr</span>Pet</h1>
        <h5>Pet Insulin Tracker</h5>
    </div>
        <div class="btn-group">
            <a class="btn-base shadow" href="/login" role="button">Login</a>
            <a class="btn-base shadow btn-white" href="/register" role="button">Register</a>
        </div>
    </main>
