<main class="app-main login-screen">
    <div class="content mb-5">
        <div class="logo"><img class="shadow" src="/img/mysugrpet-icon.png" alt=""></div>
        <h1 class="text-white"><span class="font-weight-bold">MySugr</span>Pet</h1>
        <h5>Pet Insulin Tracker</h5>
    </div>
    <div class="my-btn-group my-3">
        <a class="btn btn-base btn-max-width shadow mb-3" href="/login" role="button">Login</a>
        <a class="btn btn-base btn-max-width shadow btn-white mb-5" href="/register" role="button">Register</a>
    </div>
</main>
<%- include('./partials/footer.ejs') %>