$base-color: hsl(225, 78%, 72%);
$base-color-alpha: hsla(225, 78%, 72%, 0.4);
$base-color-dark: hsl(225, 30%, 24%);
$base-color-light: hsl(226, 64%, 88%);
$base-color-medium: hsl(225, 45%, 58%);
$color-danger: hsl(349, 76%, 67%);
$down-shadow: 0rem 0rem 0.5rem -0.3rem $base-color-medium,
  0rem 0rem 1.5rem 0rem rgba($base-color-medium, 0.4);
$up-shadow: 0rem 1.5rem 0.9rem -1.5rem $base-color-medium,
  0rem 0.7rem 2rem -0.2rem rgba($base-color-medium, 0.4);

body {
  color: $base-color-dark;
  height: -webkit-fill-available;
}
html {
  height: 100%;
  height: -webkit-fill-available;
}
.containter {
  height: 100%;
}

.mt-10vh {
  margin-top: 10vh;
}
.mt-20vh {
  margin-top: 20vh;
}

.txt-primary {
  color: $base-color;
}
.txt-light {
  color: $base-color-light;
}
.txt-dark {
  color: $base-color-dark;
}
.txt-medium {
  color: $base-color-medium;
}
.bg-base {
  background: $base-color;
}
.bg-color-danger {
  background-color: $color-danger;
}

a:hover {
  color: $base-color-medium;
}
.h6 {
  color: $base-color-light;
}
.title {
  color: $base-color-medium;
  font-weight: 600;
  text-transform: capitalize;
}
.round-bdr-1 {
  border-radius: 1rem;
  font-weight: 700;
}

.my-container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  background: no-repeat url(../img/waves-01.svg);
  background-size: cover;
  background-position-y: center;
  overflow: auto;

  @media only screen and (min-width: 600px) {
    max-width: 700px;
    -webkit-box-shadow: $down-shadow;
    box-shadow: $down-shadow;
  }
}
.app-main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  overflow-y: auto;
  position: relative;

  &::-webkit-scrollbar {
    position: absolute;
    width: 10px; /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: $base-color-light; /* color of the tracking area */
  }
  &::-webkit-scrollbar-thumb {
    background-color: $base-color-alpha; /* color of the scroll thumb */
  }
}

.login-screen {
  height: calc(100% - 2rem);
}

.main-screen {
  height: calc(100% - 4.5rem);
}

.navbar {
  position: sticky;
  bottom: 0;
  background-color: white;
  color: $base-color;
  box-shadow: $down-shadow;
  padding: 0 1.5rem;
  font-size: 0.8rem;
  height: 4.5rem;
  z-index: 100;

  svg {
    padding-top: 0.5rem;
    font-size: 1.8rem;
  }

  .navbar-link {
    display: flex;
    flex-direction: column;
    color: $base-color;
    height: 100%;
    align-items: center;
    justify-content: center;
    &:hover {
      color: $base-color-dark;
      text-decoration: none;
    }
  }
  nav.shadow-up-dark {
    box-shadow: 0rem -0.5rem 0.9rem 0rem hsl(225deg 45% 58%),
      0rem -2rem 3rem -0.2rem rgb(100 124 196 / 40%);
  }
  .main-icon-container {
    position: relative;
    width: 3rem;
  }
  .main-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
    width: 5rem;
    height: 5rem;
    background-color: $base-color;
    border-radius: 50%;

    a.navbar-link {
      color: white;
    }
    svg {
      font-size: 2.5rem;
      padding: 0;
    }
  }
}
.tooltip-inner {
  background: $base-color-dark;
}
.tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
  border-top-color: $base-color-dark;
}

.content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    margin-bottom: 0;
  }

  h5 {
    color: $base-color-light;
    letter-spacing: 0.1rem;
  }
  a {
    text-decoration: none;
  }
  form {
    display: flex;
    flex-direction: column;
    align-content: space-around;

    legend {
      font-size: 1rem;
      margin: 0;
    }
  }
}
footer {
  position: sticky;
  bottom: 0;
}
// .content-mt {
//   margin-top: 10vh;

//   @media only screen and (min-width: 600px) {
//     background-position-y: -10rem;
//   }
// }

.logo {
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  img {
    width: 100%;
  }
}

.pet-card {
  position: relative;
  display: flex;
  place-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  align-items: center;
  @media only screen and (max-width: 600px) {
    text-align: center;

    .card-body {
      padding-top: 0;
    }
  }
}
.settings-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;

  svg {
    font-size: 1.3rem;
  }
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border-color: $base-color-light;
}
.dropdown-item:hover {
  background-color: $base-color-light;
}
.show > .btn-white.dropdown-toggle {
  background-color: $base-color-light;
}

// circle image
.img-box {
  width: 12rem;
  background-size: cover;
  padding: 2rem;
  flex-grow: 0.5;

  img {
    border-radius: 50%;
    border: 0.4rem solid $base-color-light;
  }
  @media only screen and (max-width: 600px) {
    padding: 1rem;
  }
}

.shadow {
  -webkit-box-shadow: 0rem 1.5rem 0.9rem -1.5rem $base-color-medium,
    0rem 0.7rem 2rem -0.2rem rgba($base-color-medium, 0.4);
  box-shadow: 0rem 1.5rem 0.9rem -1.5rem $base-color-medium,
    0rem 0.7rem 2rem -0.2rem rgba($base-color-medium, 0.4);
}

.shot-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  padding: 1rem;
  margin-top: 1rem;
  position: relative;
}

.shot-card-title {
  position: absolute;
  top: -2.3rem;
  right: 0.8rem;
  z-index: -1;
  background-color: white;
  padding: 0.5rem 1rem;
  font-weight: 700;
  color: $base-color;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: inset 0 -12px 12px -12px $base-color,
    0px 6px 13px -1px rgba($base-color-medium, 0.4);
}

// Buttons --------------
.my-btn-group {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  text-align: center;
}
.btn-base {
  color: white;
  display: block;
  background-color: $base-color;
  padding: 1em 2em;
  border-radius: 1em;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.2s all;
  z-index: 2;
  transition: all ease 0.3s;
  border: none;

  &:hover {
    color: white;
    background-color: $base-color-medium;
    text-decoration: none;
  }
  &:active {
    transform: translateY(0.2rem);
    box-shadow: 0rem 0.4rem 0.3rem -1rem $base-color-medium;
  }
}
.btn-max-width {
  width: 12rem;
}

.btn-white {
  color: $base-color-dark;
  background-color: white;

  &:hover {
    color: $base-color-dark;
    background-color: $base-color-light;
  }
}
.btn-outline-light {
  color: $base-color-light;
  border-color: $base-color-light;
  border-radius: 0.6rem;
  &:hover {
    background-color: $base-color-light;
    color: $base-color-medium;
    border-color: $base-color-light;
  }
}

footer {
  color: $base-color-light;

  i {
    font-size: 1.5rem;
  }
}

// FORM FIELDS

.form-control,
.custom-file {
  border: none;
  height: 3rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

input[date] {
  color: $base-color-light;
}

.input-group-text {
  background-color: white;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  color: $base-color;
  font-weight: 700;
  padding-left: 1rem;
}

.col img {
  height: 100px;
  width: 100%;
  cursor: pointer;
  transition: transform 1s;
  object-fit: cover;
  background-color: white;
  color: $base-color;
  font-size: 5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.col label {
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
}
.imgbgchk:checked + label > .tick_container {
  opacity: 1;
}
// check animation
.imgbgchk:checked + label > img {
  transform: scale(1.25);
  opacity: 0.3;
}
.tick_container {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
}
.tick {
  background-color: $base-color-medium;
  color: white;
  font-size: 1rem;
  padding: 6px 6px;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}
.shot-form-container {
  display: flex;
  flex-direction: column;
}
.shot-form {
  background: no-repeat url(../img/dog-shot-position.png);
  width: 100%;
  background-size: cover;
  padding: 0.5rem;
  border-radius: 0.5rem;

  label {
    background-color: rgba($base-color-light, 0.2);
    padding: 1rem;
    border-radius: 0.5rem;
  }
  i {
    color: $base-color;
  }
}
.shot-grid {
  height: 22rem;
  width: 20rem;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 3.5rem 2.5rem 1fr;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}
.left-history {
  grid-column: 1 / span 2;
}
.right-history {
  grid-column: 3 / span 2;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: white;
  /* Not removed via appearance */
  margin: 0;
  position: inherit;
  font: inherit;
  color: $base-color;
  width: 2em;
  height: 2em;
  border: 0.3em solid $base-color;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $base-color;
  /* Windows High Contrast Mode */
  background-color: $base-color;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: 0.15em solid $base-color;
  outline-offset: 0.15em;
}

.shot-history {
  color: $base-color-medium;
  font-size: 0.7rem;
  font-weight: 700;
}

.alert {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.alert-success {
  background-color: $base-color-light;
  border-color: $base-color;
  color: $base-color-medium;
}

.alert-danger {
  background-color: rgba($color: hsl(270, 45%, 85%), $alpha: 1);
  border-color: rgba($color: hsl(270, 30%, 45%), $alpha: 1);
  color: rgba($color: hsl(270, 30%, 45%), $alpha: 1);
}

input[type="file"] {
  border-radius: 0.5rem;
}
.custom-file-label {
  border-radius: 0.5rem;
  line-height: 2.3rem;
  color: $base-color;
  font-weight: 700;
  height: calc(2.25rem + 12px);
  border: none;
  border-radius: 0.5rem;

  &::after {
    font-weight: 700;
    line-height: 2.3rem;
    background-color: none;
    border-left: $base-color-light;
    height: calc(2.25rem + 12px);
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: $base-color-light;
  }
}
