body {
  color: hsl(225deg, 30%, 24%);
  height: -webkit-fill-available;
}

html {
  height: 100%;
  height: -webkit-fill-available;
}

.containter {
  height: 100%;
}

.mt-10vh {
  margin-top: 10vh;
}

.mt-20vh {
  margin-top: 20vh;
}

.txt-primary {
  color: hsl(225deg, 78%, 72%);
}

.txt-light {
  color: hsl(226deg, 64%, 88%);
}

.txt-dark {
  color: hsl(225deg, 30%, 24%);
}

.txt-medium {
  color: hsl(225deg, 45%, 40%);
}

.bg-base {
  background: hsl(225deg, 78%, 72%);
}

.bg-color-danger {
  background-color: hsl(349deg, 76%, 67%);
}

.h1 {
  font-size: clamp(2rem, 4vw, 3.5rem);
  color: white;
}

.h2 {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: hsl(226deg, 64%, 88%);
}

a {
  color: hsl(225deg, 78%, 72%);
}

a:hover {
  color: hsl(225deg, 45%, 40%);
}

.h6 {
  color: hsl(226deg, 64%, 88%);
}

.title {
  color: hsl(225deg, 45%, 40%);
  font-weight: 600;
  text-transform: capitalize;
}

.round-bdr-1 {
  border-radius: 1rem;
  font-weight: 700;
}

.my-container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  background: no-repeat url(../img/waves-01.svg);
  background-size: cover;
  background-position-y: center;
  overflow: auto;
}
@media only screen and (min-width: 600px) {
  .my-container {
    max-width: 700px;
    -webkit-box-shadow: 0rem 0rem 0.5rem -0.3rem hsl(225deg, 45%, 40%), 0rem 0rem 1.5rem 0rem rgba(56, 79, 148, 0.4);
    box-shadow: 0rem 0rem 0.5rem -0.3rem hsl(225deg, 45%, 40%), 0rem 0rem 1.5rem 0rem rgba(56, 79, 148, 0.4);
  }
}

.app-main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  overflow-y: auto;
  position: relative;
}
.app-main::-webkit-scrollbar {
  position: absolute;
  width: 10px; /* width of the entire scrollbar */
}
.app-main::-webkit-scrollbar-track {
  background: hsl(226deg, 64%, 88%); /* color of the tracking area */
}
.app-main::-webkit-scrollbar-thumb {
  background-color: hsla(225deg, 78%, 72%, 0.4); /* color of the scroll thumb */
}

.login-screen {
  height: calc(var(--vh, 1vh) * 100 - 2rem);
}

.main-screen {
  height: calc(var(--vh, 1vh) * 100 - 4.5rem);
}

.navbar {
  position: sticky;
  bottom: 0;
  background-color: white;
  color: hsl(225deg, 78%, 72%);
  box-shadow: 0rem 0rem 0.5rem -0.3rem hsl(225deg, 45%, 40%), 0rem 0rem 1.5rem 0rem rgba(56, 79, 148, 0.4);
  padding: 0 1.5rem;
  font-size: 0.8rem;
  height: 4.5rem;
  z-index: 100;
}
.navbar svg {
  padding-top: 0.5rem;
  font-size: 1.8rem;
}
.navbar .navbar-link {
  display: flex;
  flex-direction: column;
  color: hsl(225deg, 78%, 72%);
  height: 100%;
  align-items: center;
  justify-content: center;
}
.navbar .navbar-link:hover {
  color: hsl(225deg, 30%, 24%);
  text-decoration: none;
}
.navbar nav.shadow-up-dark {
  box-shadow: 0rem -0.5rem 0.9rem 0rem hsl(225deg, 45%, 58%), 0rem -2rem 3rem -0.2rem rgba(100, 124, 196, 0.4);
}
.navbar .main-icon-container {
  position: relative;
  width: 3rem;
}
.navbar .main-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
  width: 5rem;
  height: 5rem;
  background-color: hsl(225deg, 78%, 72%);
  border-radius: 50%;
}
.navbar .main-icon a.navbar-link {
  color: white;
}
.navbar .main-icon svg {
  font-size: 2.5rem;
  padding: 0;
}

.tooltip-inner {
  background: hsl(225deg, 30%, 24%);
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
  border-top-color: hsl(225deg, 30%, 24%);
}

.content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.content h1 {
  margin-bottom: 0;
}
.content h5 {
  color: hsl(226deg, 64%, 88%);
  letter-spacing: 0.1rem;
}
.content a {
  text-decoration: none;
}
.content form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.content form legend {
  font-size: 1rem;
  margin: 0;
}

footer {
  position: sticky;
  bottom: 0;
}

.logo {
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.logo img {
  width: 100%;
}

.pet-card {
  position: relative;
  display: flex;
  place-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .pet-card {
    text-align: center;
  }
  .pet-card .card-body {
    padding-top: 0;
  }
}

.settings-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.settings-icon svg {
  font-size: 1.3rem;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border-color: hsl(226deg, 64%, 88%);
}

.dropdown-item:hover {
  background-color: hsl(226deg, 64%, 88%);
}

.show > .btn-white.dropdown-toggle {
  background-color: hsl(226deg, 64%, 88%);
}

.img-box {
  width: 12rem;
  background-size: cover;
  padding: 2rem;
  flex-grow: 0.5;
}
.img-box img {
  border-radius: 50%;
  border: 0.4rem solid hsl(226deg, 64%, 88%);
}
@media only screen and (max-width: 600px) {
  .img-box {
    padding: 1rem;
  }
}

.main-pet-photo {
  max-width: 60vw;
  max-height: auto;
}
.main-pet-photo img {
  border: 1rem solid white;
}

.shadow {
  -webkit-box-shadow: 0rem 1.5rem 0.9rem -1.5rem hsl(225deg, 45%, 40%), 0rem 0.7rem 2rem -0.2rem rgba(56, 79, 148, 0.4);
  box-shadow: 0rem 1.5rem 0.9rem -1.5rem hsl(225deg, 45%, 40%), 0rem 0.7rem 2rem -0.2rem rgba(56, 79, 148, 0.4);
}

.shot-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: min(30rem, 95%);
  padding: 0.6rem;
  margin-top: 0.6rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: clamp(0.8rem, 1.6vw, 1rem);
}

.shot-card-title {
  position: absolute;
  top: -2.1rem;
  right: 0.8rem;
  z-index: -1;
  background-color: white;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: clamp(0.8rem, 1.6vw, 1rem);
  color: hsl(225deg, 78%, 72%);
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: inset 0 -12px 12px -12px hsl(225deg, 78%, 72%), 0px 6px 13px -1px rgba(56, 79, 148, 0.4);
}

.shot-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(30rem, 90%);
}

.my-btn-group {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  text-align: center;
}

.btn-base {
  color: white;
  display: block;
  background-color: hsl(225deg, 78%, 72%);
  padding: 1em 2em;
  border-radius: 1em;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.2s all;
  z-index: 2;
  transition: all ease 0.3s;
  border: none;
}
.btn-base:hover {
  color: white;
  background-color: hsl(225deg, 45%, 40%);
  text-decoration: none;
}
.btn-base:active {
  transform: translateY(0.2rem);
  box-shadow: 0rem 0.4rem 0.3rem -1rem hsl(225deg, 45%, 40%);
}

.btn-max-width {
  width: 12rem;
}

.btn-white {
  color: hsl(225deg, 30%, 24%);
  background-color: white;
}
.btn-white:hover {
  color: hsl(225deg, 30%, 24%);
  background-color: hsl(226deg, 64%, 88%);
}

.btn-outline-light {
  color: hsl(226deg, 64%, 88%);
  border-color: hsl(226deg, 64%, 88%);
  border-radius: 0.6rem;
}
.btn-outline-light:hover {
  background-color: hsl(226deg, 64%, 88%);
  color: hsl(225deg, 45%, 40%);
  border-color: hsl(226deg, 64%, 88%);
}

footer {
  color: hsl(226deg, 64%, 88%);
}
footer i {
  font-size: 1.5rem;
}

.form-control,
.custom-file {
  border: none;
  height: 3rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.invalid-feedback {
  color: hsl(225deg, 30%, 24%);
}

input[date] {
  color: hsl(226deg, 64%, 88%);
}

.input-group-text {
  background-color: white;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  color: hsl(225deg, 78%, 72%);
  font-weight: 700;
  padding-left: 1rem;
}

.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.col img {
  height: 100px;
  width: 100%;
  cursor: pointer;
  transition: transform 1s;
  object-fit: cover;
  background-color: white;
  color: hsl(225deg, 78%, 72%);
  font-size: 5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.col label {
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
}

.imgbgchk:checked + label > .tick_container {
  opacity: 1;
}

.imgbgchk:checked + label > img {
  transform: scale(1.25);
  opacity: 0.3;
}

.tick_container {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
}

.tick {
  background-color: hsl(225deg, 45%, 40%);
  color: white;
  font-size: 1rem;
  padding: 6px 6px;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}

.shot-form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.shot-form {
  position: relative;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}
.shot-form img {
  height: 25rem;
}
.shot-form label {
  background-color: rgba(205, 214, 244, 0.2);
  padding: 1rem;
  border-radius: 0.5rem;
}
.shot-form i {
  color: hsl(225deg, 78%, 72%);
}

.shot-grid {
  position: absolute;
  top: 40%;
  right: 50%;
  left: 50%;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 3rem 4rem 1fr;
  grid-template-rows: 7rem 7rem;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.left-history {
  grid-column: 1/span 2;
}

.right-history {
  grid-column: 3/span 2;
}

input[type=radio] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: white;
  /* Not removed via appearance */
  margin: 0;
  position: inherit;
  font: inherit;
  color: hsl(225deg, 78%, 72%);
  width: 2em;
  height: 2em;
  border: 0.3em solid hsl(225deg, 78%, 72%);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type=radio]::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em hsl(225deg, 78%, 72%);
  /* Windows High Contrast Mode */
  background-color: hsl(225deg, 78%, 72%);
}

input[type=radio]:checked::before {
  transform: scale(1);
}

input[type=radio]:focus {
  outline: 0.15em solid hsl(225deg, 78%, 72%);
  outline-offset: 0.15em;
}

.shot-history {
  color: hsl(225deg, 45%, 40%);
  font-size: 0.7rem;
  font-weight: 700;
}

.alert {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.alert-success {
  background-color: hsl(226deg, 64%, 88%);
  border-color: hsl(225deg, 78%, 72%);
  color: hsl(225deg, 45%, 40%);
}

.alert-danger {
  background-color: #d9c8ea;
  border-color: #735095;
  color: #735095;
}

input[type=file] {
  border-radius: 0.5rem;
}

.custom-file-label {
  border-radius: 0.5rem;
  line-height: 2.3rem;
  color: hsl(225deg, 78%, 72%);
  font-weight: 700;
  height: calc(2.25rem + 12px);
  border: none;
  border-radius: 0.5rem;
}
.custom-file-label::after {
  font-weight: 700;
  line-height: 2.3rem;
  background-color: none;
  border-left: hsl(226deg, 64%, 88%);
  height: calc(2.25rem + 12px);
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: hsl(226deg, 64%, 88%);
}
