<main class="bg-base app-main main-screen">
    <div class="row justify-content-center align-center m-0">
        <div class="col-sm-10 col-md-8 mx-3">
            <div class="text-center text-white">
                <h3>Create Your Pet Profile</h3>
            </div>
            <form action="/pet" method="POST" enctype="multipart/form-data">
                <fieldset class="form-group text-center">
                    <div class="row text-white">
                        <legend>Choose kind of pet</legend>
                        <div class='col text-right'>
                            <input type="radio" name="kind" id="dog" class="d-none imgbgchk" value="dog">
                            <label for="dog" aria-describedby="dog">
                                <img src="../img/icon-dog.png" alt="dog icon">
                                <div class="tick_container">
                                    <div class="tick"><i class="fa fa-check"></i></div>
                                </div>
                            </label>
                        </div>
                        <div class='col text-left'>
                            <input type="radio" name="kind" id="cat" class="d-none imgbgchk" value="cat">
                            <label for="cat" aria-describedby="cat">
                                <img src="../img/icon-cat.png" alt="Image 2">
                                <div class="tick_container">
                                    <div class="tick"><i class="fa fa-check"></i></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group d-flex mb-3">
                    <span class="input-group-text" id="petName">Pet Name:</span>
                    <input class="form-control" type="text" name="petName" id="petName">
                </fieldset>
                <fieldset class="form-group d-flex mb-3">
                    <span class="input-group-text" id="breed">Breed:</span>
                    <input class="form-control" type="text" name="breed" id="breed">
                </fieldset>
                <fieldset class="form-group d-flex mb-3">
                    <span class="input-group-text" id="color">Color:</span>
                    <input class="form-control" type="text" name="color" id="color">
                </fieldset>
                <fieldset class="form-group d-flex mb-3">
                    <span class="input-group-text" id="age">Date of Birth:</span>
                    <input class="form-control" type="date" name="age" id="age">
                </fieldset>
                <fieldset class="mb-3 custom-file">
                    <input class="form-control" type="file" name="photo" id="formFile">
                    <label class="custom-file-label" id="photo" for="formFile"><i class="fa fa-cloud-upload"></i>
                        Upload Your Pet Photo</label>
                </fieldset>
                <div class="d-flex justify-content-center mt-3">
                    <input class="btn btn-base btn-max-width btn-white shadow" type="submit" value="Add My Pet">
                </div>
            </form>
        </div>
    </div>
</main>
<nav class="navbar shadow-up-dark">
    <div>
        <a href="/pet" class="navbar-link"><i class="fa-solid fa-paw"></i>
            My Pets</a>
    </div>
    <div>
        <a class="navbar-link" href="/logout"><i class="fas fa-sign-out-alt"></i>
            Logout</a>
    </div>
</nav>